
.center{
		min-height:100%;
		height:100%\9;
		width: 1000px;
		margin: 0 auto;
		text-align:left\9; 
		width:1000px\9;
		margin-top:10px;  
}
 
.right{
	width: 840px; 
	float: right;
}
.xia{width: 840px; height: 100px; background: #f2f2f2; overflow: hidden; padding-top: 10px; margin-top:10px;}
.xia .p1{display: block; float: left; padding-left: 10px; margin:5px 0;}
.xia .p1 span{width: 90px; height: 30px; line-height: 30px; text-align: center; display: block; float: left; font-size: 13px; font-family: å®‹ä½“; color: #666666;}
.xia .p1 input{width: 163px; height: 25px; line-height: 25px; float:left; border:1px solid #c8c8c8;}
.xia .p1 .rl{width: 163px; height: 25px; line-height: 25px; float:left; border:1px solid #c8c8c8;}
.xia .p1 i{width:30px;display: block; float: left; height: 25px; line-height: 25px; text-align: center;}
.xia .p1 select{width: 167px; height: 28px; line-height: 28px; float:left; border:1px solid #c8c8c8; float: left;}
.xia .p2{float: right; margin-right:70px; margin-top:25px; display: block; }
.xia .p2 button{ width: 65px; height: 23px; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor:pointer;}

.ck-hd{margin:8px auto;float: right;}
.ck-hd .add-ck-btn{text-decoration: none; display: inline-block;width: 70px;height: 28px;text-align: center;font-size: 13px;letter-spacing: 3px;line-height: 28px;border: none;cursor: pointer;border-radius: 2px;background-color: #ff9c2b;color: #f00;}
.ck-hd .add-ck-btn a{display: inline-block; color: #fff;}
.goodsWrap{clear: both;}
.goodsWrap{width:840px; margin-top:10px;}
.goodsTable{width:100%;table-layout:fixed;}
.goodsTable .order-hd{ background: #f2f2f2; border: 1px solid #d5dce2; border-bottom: none; line-height: 39px; height: 39px; font-size: 13px; font-family: 宋体;}
.goodsTable th{height:38px;line-height:38px;color:#555;background-color:#fafafa}
.goodsTable th .le{text-align: left; display: block;float: left; width:50px;}
.goodsTable th .ri{text-align: center; display: block;float: left; width:250px;}
.goodsTable .goods-tr{line-height:28px;border:1px solid #e1e9ef; }
.goodsTable .goods-tr td{border:1px solid #e1e9ef;}
.summary span{display: block; float:left; padding:0 10px;}

.goodsTable tr,.goodsTable td{text-align:center; word-wrap: break-word;
word-break: normal; word-break: break-all; line-height: 18px;}
.goodsTable .f-tl{text-align:left}

.goodsTable .f-h10{height:10px}
.goodsTable .p-goods{padding:0 30px}
.goodsTable .p-img{float:left;width:62px;height:62px;border:1px solid #f2f2f2}
.goodsTable .p-name{margin-left:72px;line-height:18px;}
.goodsTable .t-btn{display:block;width:95px;height:28px;margin:0 auto;font-size:14px;line-height:28px;color:#fff;text-decoration:none;background-color:#ff6752}
.goodsTable .goods-list{padding:0 10px 20px}
.goodsTable .goods-list li{position:relative;float:left;width:62px;height:62px;margin:20px 10px 0 0;}
.goodsTable .goods-list .goods-box{position:absolute;height:62px;border:1px solid #fff;}
.goodsTable .goods-list .goods-pic{width:60px;height:60px;float:left;}
.goodsTable .goods-list .goods-txt{margin-left:70px;width:146px;visibility:hidden; height:60px; overflow: hidden;}
.goods-list .goods-txt .sku,.amount{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.goodsTable .goods-list li:hover .goods-box{background-color:#fff;width:216px;border-color:#FFC8C8;z-index:4}
.goodsTable .goods-list li:hover .goods-txt{visibility:visible}
.goodsTable .goods-list li:hover .goods-txt span{display:block;line-height:30px}

.order-doi a{display: block; width: 80px; text-align: center; line-height: 25px; height: 25px;}
