body {

       width:100%\9;
       text-align:center\9;
    }

table{ 
border-collapse:collapse; 
} 
.center{
	width: 1000px;
	min-height:100%;
	margin: 0 auto;
	text-align:left\9; 
	width:1000px\9;  
	margin:0 auto\9; 
	margin-top:10px\9;
	overflow:hidden;
}

.center .c2 .c22 .xia{height:100px; background:#f2f2f2; overflow:hidden; margin-bottom:10px;}
.center .c2 .c22 .xia strong.st{margin-left:20px;}

.center .c2 .c22 .xia .p2{width: 800px; height: 25px; margin:0 0 0 35px; line-height: 35px;}
.center .c2 .c22 .xia .p2 input{ width: 163px; height: 23px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p2 select{width: 135px; height: 26px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p3{width: 800px; height: 25px; margin:10px 0 0 22px; line-height: 35px;}
.center .c2 .c22 .xia .p3 input{ width: 163px; height: 23px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p4{float: right; margin-right:50px; margin-top:5px; display: block; }
.center .c2 .c22 .xia .p4 button{ width: 65px; height: 23px; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor: pointer;}
.center .c2 .c22 .xia .p4 a:hover{color: #1b7389; text-decoration: underline;}

.bought-table .col-name{ 
	border: 1px solid #e1e8ee; 
	line-height:38px; 
	background:#f2f2f2;
}
.bought-table  .col-name th:last-child {
	border-right: 1px solid #e1e8ee; 
	
}
.bought-table  .col-name th {
    background: url("../images/item-list.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #4b4b4b;
    font-size:13px;
    text-align: center;
    font-family: 宋体; 
}

.bought-table .sep-row{
	height: 10px;
}

.bought-table tbody .order-hd {
     background:#f2f2f2;
     border: 1px solid #d5dce2;
     border-bottom:none;
     line-height: 39px;
     height: 39px;
     font-size:13px;
     font-family: 宋体;
}
.bought-table tbody .order-hd td .selector{
	
}
.bought-table .order-bd{
	line-height:20px;
	font-family: 宋体;
	font-size:13px;
	height:110px;
}
.bought-table .order-bd td {
	border: 1px solid #e1e8ee;
	border-top:none;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    vertical-align: middle;
    
}
.bought-table .order-bd .baobei {
    padding: 15px 0 10px 15px;
    text-align: left;
    width:250px;
}
.bought-table .order-bd .baobei .pic {
    border: 1px solid #e9e9e9;
    display: inline;
    float: left;
    margin-right:20px;
    width:80px;
    height:80px;
   
}
.bought-table .order-bd .baobei .pic img {
	width: 80px;
    height: 80px;
}
 .bought-table .order-bd .baobei .b1 span{
	width:200px;
	color:#ff4900;
	display: block;
} 
.bought-table .order-bd .baobei .desc {
    display: inline;
    float: left;
    overflow: hidden;
    width: 145px;
    height:80px;
    word-wrap: break-word;
}
.bought-table .order-bd .baobei .baobei-name {
    line-height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
}

.bought-table .order-bd span{
	line-height:20px;
    color: #ff4900;
    font-weight: bold;
}
.bought-table .tm-btn{
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width:60px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #a4a3a9;
    background: url("../images/img-btn.jpg") repeat-x;
    margin-bottom: 5px;

}


.fb{margin-left:20px; margin-left:25px!important;  border:none;  width:100px; width:110px!important; height:25px; background: none;}
.all-selector{margin:0 0 0 12px;}
.operations{padding:10px 0 5px;}
.trade-operate{width:90px; word-break:break-all;}
.b1{width:110px; height:80px; word-break:break-all; overflow: hideen; }
/* .b1 i{width:110px; height:80px;  display:block; word-break:break-all;  background:blue;} */
.trade-status{width:90px}


.trade-status .tm-h {color: #f40;}
.bought-table .tm-skin-blue {background-color: #66b6ff; width:50px; color: #fff; border-radius: 2px; cursor: pointer; display: inline-block; line-height: 8px; padding: 8px 12px; text-align: center;}
.gb{width: 67px; width: 75px!important; height: 22px;margin:0;padding:0;border:none;outline:none;border-radius: 5px; background: url(../images/btn.png) repeat-x; cursor: pointer; color:white;}
.summary .jchu{font-weight:bold; margin-right:10px;}
.summary .shu{color:#ff4d00;}




