body {
       width:100%\9;
       text-align:center\9;
    }


.center{
	width: 1000px;
	min-height:100%;
	margin: 0 auto;
	text-align:left\9; 
	margin-top: 10px;
}


.c2{width:840px; float: right;}
.c2 .xia{height:155px; overflow:hidden; background: #f2f2f2; margin-bottom: 5px;}
.c2 .xia strong.sk{margin-left:12px;}
.c2 .xia strong.st{margin-left:21px;}
.c2 .xia .p1{width: 800px; height: 25px; margin:20px 0 15px 35px; line-height: 25px;}
.c2 .xia .p1 input{ width: 163px; height: 23px; border:1px solid #c8c8c8;}
.c2 .xia .p1 select{width: 120px; height: 26px; border:1px solid #c8c8c8;}
.c2 .xia .p3{float: right; margin-right:60px; display: block; }
.c2 .xia .p3 button{ width: 65px; height: 23px; line-height:23px\9; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor: pointer;}
.c2 .xia .p3 a:hover{color: #1b7389; text-decoration: underline;}
.c2 .cont{width: 840px;  overflow: auto; }

.cont .order-hd{width: 838px; height: 38px; line-height:38px; background: #f2f2f2; border:1px solid #e2e9ee; font-size: 13px; font-family: 宋体; color: #4b4b4b;}

.cont .order-hd .head1{width: 100px;}
.cont .order-hd .head2{width: 200px;}
.cont .order-hd .head3{width: 135px;}
.cont .order-hd .head4{width: 135px;}
.cont .order-hd .head5{width: 135px;}
.cont .order-hd .head6{width: 135px;}

.cont .order-bd{width: 840px; height: 55px; text-align: center;font-size: 13px; font-family: 宋体; color:#4b4b4b; background: #f1f6fe;}
.cont .order-bd td{border:1px solid #e2e9ee;}

.cont .order-bd .baobei{width: 100px; height: 55px;}
.cont .order-bd .baobei .pic{width: 100px; height: 55px;}
.cont .order-bd .baobei .pic img{width: 40px; height:40px;}

.cont .order-bd .suh{width: 200px; height: 55px; word-break:break-all; overflow: hidden;}

.cont .order-bd .Price{width: 135px; word-break:break-all; overflow: hidden;}
.cont .order-bd .Price i{color:#ff4800; font-weight: bold;}

.cont .order-bd .Stock{width: 135px; word-break:break-all; overflow: hidden;}
.cont .order-bd .Stock input{width: 66px; height: 23px; border:1px solid #e2e9ee; text-align: center;}
.cont .order-bd .time{width: 135px; word-break:break-all; overflow: hidden;}

.cont .order-bd .Supplier{width: 135px; word-break:break-all; overflow: hidden;}
.cont .order-bd .Supplier input{width: 66px; height: 23px; border:1px solid #e2e9ee; text-align: center;}




.c2 .nex{width: 540px; padding:30px 0 0 370px;}
.c2 .nex a{width: 83px; height: 30px; line-height:30px; background:url(../images/cx1.jpg) repeat-x; display: block; border:1px solid #ff3c00; border-radius: 5px; text-align: center; color: #ffffff; font-family: 微软雅黑; font-size: 16px;}