@charset "utf-8";
.promotion-txt,.promotion-sel,.promotion-textarea{border:1px solid #ccc;outline:0;border-radius:2px;box-sizing:border-box;transition:border-color .2s ease}
.promotion-txt{line-height:1;position:relative;font-size:12px;margin:0;padding:6px 10px;color:#666;background-color:#fff;}
.promotion-sel{cursor:pointer;position:relative;font-size:12px;line-height:1;background-color:#fff;padding:5px 10px;}
.promotion-btn{cursor:pointer;display:inline-block;vertical-align:middle;outline:0;border:1px solid #c2c2c2;background-color:#fafafa;color:#333;margin:0;padding:7px 10px;font-size:12px;line-height:1;font-weight:inherit;font-style:inherit;text-align:center;text-decoration:none;border-radius:3px;user-select:none;transition-duration:.3s;font-family:tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",sans-serif;}
a.promotion-btn:hover{color:#fff;}
.promotion-textarea{line-height:1;position:relative;font-size:12px;margin:0;padding:6px 10px;color:#666;background-color:#fff;}
.promotion-txt.large{line-height:16px;padding:7px 10px}
.promotion-btn.large{padding:8px 10px;font-size:12px}
.promotion-sel.large{padding:7px 10px}
.promotion-wrap{background-color:#fff;width:840px;margin:0 auto;font-family:tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",sans-serif;}

.promotion-hd{margin-bottom:15px;border:1px solid #ebebeb;border-bottom:none;}
.promotion-title{position:relative;background:#f7f7f7;border-bottom:1px solid #e5e5e5;padding-left:19px;line-height:44px;height:44px;font-size:14px;color:#333;font-weight:700}
.promotion-filter{background:url(../images/promotion-hd.png) repeat-x left bottom;height:32px;padding:30px 0 30px 50px;}
.promotion-filter .form-group{float:left;padding:0 10px;}
.promotion-filter .form-group label{font-size:14px;color:#333}
.promotion-filter .promotion-name{width:200px;}
.promotion-filter .promotion-date{width:120px;}
.promotion-filter .promotion-btn,.promotionRule-hd .promotion-btn{width:140px;color:#fff;background-color:#ff9c2b;border-color:#ff9c2b}
.promotion-bd{border:1px solid #ebebeb}
.tb-promotion th{text-align:center;font-weight:400;color:#000;border-bottom:1px solid #f2f2f2;background:#f5f8fa;padding:10px 0}
.tb-promotion td{text-align:center;padding:9px 0 6px;line-height:2;border-bottom:1px solid #dadada}
.tb-promotion tr:nth-child(odd){background:#fff}
.tb-promotion tr:nth-child(even){background:#fcfcfc}
.tb-promotion .name,.tb-promotion .name a{color:#f10180;}
.tb-promotion .name a:hover{text-decoration:underline;}
/*.tb-promotion .tac{text-align:left;}*/
.tb-promotion .tac a{color:#1d94d1;margin:0 8px;}
.tb-promotion .tac a:hover{color:#1d94d1;text-decoration:underline;}
.manage-promotion{padding-bottom:20px;}
.manage-promotion .promotion-title{margin-bottom:20px;}
.manage-promotion .form-group{margin-bottom:12px;}
.manage-promotion .form-group span{position:absolute;line-height:28px;padding-left:10px}
.manage-promotion .form-group .promotion-txt{width:180px}
.manage-promotion .form-group .promotion-sel{width:180px}
.manage-promotion .form-group .promotion-textarea{width:560px;max-width:560px;height:100px;}
.manage-promotion .form-group label{float:left;width:180px;text-align:right;line-height:28px;}
.manage-promotion .form-group .field{margin-left:180px;}
.manage-promotion .form-group .field .promotion-checkbox{float:left;width:14px;height:14px;margin-top:8px;}
.manage-promotion .form-group .field label{width:auto;}
.manage-promotion .form-inline{overflow:hidden}
.manage-promotion .form-inline .form-group{float:left;min-width:380px;}
.promotionManage-btn{display:block;width:200px;margin:20px auto;padding:8px 10px;font-size:14px;color:#fff;background-color:#ff9c2b;border-color:#ff9c2b}
.promotion-filter .w100{width:100px;}
.promotion-filter .w200{width:200px;}
.promotionRule-hd{background:url(../images/promotion-hd.png) repeat-x left bottom;padding:30px 0 30px 0;overflow:hidden;}
.promotionRule-hd dl{width:240px;float:left;padding:0 10px;font-size:14px;color:#333}
.promotionRule-hd dt{float:left;width:80px;text-align:right;}
.promotionRule-hd dd{margin-left:80px;}
.gifts-name{width:200px;}
.gifts-type{width:120px;}

#skusconent{width:320px; max-height: 200px; overflow: auto; margin:10px 10px;}
.act-table{width:100%;}
.act-table th{width:150px; text-align: center; height:35px;line-height: 35px; border:1px solid #e5e5e5; word-wrap:break-word;
　　word-break:normal;
　word-break:break-all;}
.act-table td{width:150px; text-align: center; height:35px;line-height: 35px; border:1px solid #e5e5e5; word-wrap:break-word;
　　word-break:normal;
　word-break:break-all;}

.btn-an{margin-left:120px; overflow: hidden;}
.btn-an input{ background-color: #ff9c2b;float:left; border:none;margin:0px 10px 10px 0px; border-color: #ff9c2b;color: #fff;display: block;font-size: 14px;padding: 5px;}

