<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/newbase.css">
	<link rel="stylesheet" type="text/css" href="css/tip.css">
</head>
<body>

    <div class="header">
		<a href="javascript:history.go(-1)" class="bug-go"></a>
		
	</div>
	<div class="tipw">
	
		<div class="tip_t">
			<!--焦点图 start-->
			<div id="index-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
					<li class="swiper-slide">
						<a href="#"><img src="img/pic/tip01.jpg"/></a>
					</li>
				</ul>
				<div class="swiper-pagination" id="index-pagination"></div>
			</div>	
			<!--焦点图 end-->
			<h2 class="t_title"></h2>
		</div>

		<div class="tip_c">
		    <a href="#">
				<h2>夏天你用对洗面奶了吗夏天你用对洗面奶了吗？</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip02.jpg"/></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			</a>
			<p class="share">
			  <a href="javascript:0" class="selected"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>

		<div class="tip_c">
		    <a href="#">
				<h2>韩国 SNP面膜系列</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip03.jpg"/></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			</a>
			<p class="share">
			  <a href="javascript:0"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>

		<div class="tip_c">
			<a href="#">
				<h2>小身材大功能 德国餐具使用介绍</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip04.jpg"/><i></i></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂</p>
			</a>
			<p class="share">
			  <a href="javascript:0"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>
		
		<div class="tip_c">
		    <a href="#">
				<h2>夏天你用对洗面奶了吗夏天你用对洗面奶了吗？</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip02.jpg"/></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			</a>
			<p class="share">
			  <a href="javascript:0" class="selected"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>

		<div class="tip_c">
		    <a href="#">
				<h2>韩国 SNP面膜系列</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip03.jpg"/></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			</a>
			<p class="share">
			  <a href="javascript:0"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>

		<div class="tip_c">
			<a href="#">
				<h2>小身材大功能 德国餐具使用介绍</h2>
				<h3><img class="lazy" src="img/loading3.gif" data-echo="img/pic/tip04.jpg"/><i></i></h3>
				<p class="txt">韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂</p>
			</a>
			<p class="share">
			  <a href="javascript:0"><i class="sh1"></i>209</a>
			  <a href="javascript:0"><i class="sh2"></i>209</a>
			</p>
		</div>

	</div>
  <script src="js/zepto.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/echo.min.js"></script>
  <script>
		$(function(){
			 //图片懒加载
		     Echo.init({
                offset: 0,
                throttle: 0
             });
			 //轮换图片滚动
			 var swiper = new Swiper('#index-container', {
				pagination: '#index-pagination',
				slidesPerView: 1,
                paginationClickable: true,
				loop: true,
				autoplay:5000,
			    autoplayDisableOnInteraction: false
			 });
		})
	</script>
</body>
</html>