<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>详情2</title>
	<link rel="stylesheet" type="text/css" href="css/newbase.css">
	<link rel="stylesheet" type="text/css" href="css/tip.css">
	<link rel="stylesheet" type="text/css" href="css/video-js.css">
    <script src="js/zepto.min.js"></script>
</head>
<body>
	<div class="header">
		<a href="javascript:history.go(-1)" class="bug-go"></a>
		详情
	</div>
	<div class="tipdetail">
		<h2>夏天你用对洗面奶了吗？夏天你用对洗面奶了吗？夏天你用对洗面奶了吗？</h2>
		<!--视频显示-->
		<div class="video">
			<iframe height=300 width=100% src="http://player.youku.com/embed/XMTQ2NDIyNjMzMg==" frameborder=0 allowfullscreen></iframe>
			<div class="video-bg">
				<div class="video-box"><span class="del"></span></div>
			</div>
		</div>
		  
		<div class="tip_cent">
		    <p class="tipimg"><img src="img/pic/tip01.jpg"></p>
		    <p><a href="#">韩国 Nature Republic  芦荟泡沫洗面奶   19.90</a></p>
			<p class="tipimg"><img src="img/pic/tip01.jpg"></p>
			<p>韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 <a href="#">蕴含芦荟</a>成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			<p class="tipimg"><img src="img/pic/tip01.jpg"></p>
			<p>韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			<p class="tipimg"><img src="img/pic/tip01.jpg"></p>
			<p>韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
			<p class="tipimg"><img src="img/pic/tip01.jpg"></p>
			<p>韩国 Nature Republic 自然乐园 芦荟泡沫洗面奶 蕴含芦荟成分，有效清洁的同时，修复受损肌肤，还 会散发淡淡芦荟清香，轻松包裹肌肤面部多余油脂...</p>
		</div>
		<div class="fenx">
		      <!--赞后显示的-->
			<a href="javascript:0" class="selected" style="display:none;"><i class="z1"></i>赞一下</a>
			<!--赞后显示的 end-->
			<a href="javascript:0"><i class="z1"></i>赞一下</a>
			<a href="javascript:0" id="share"><i class="z2"></i>分 享</a>
		</div>
	</div>
	<!--分享弹框-->
	<div class="sha">
		<div class="share_bg"></div>
		<div class="share_cont">
			<div class="share_c">
			   <div class="s_title"><span>分享到</span></div>
			   <ul class="s_coent">
		   			<div><a href="#"><i class="fen01"></i><em>微信</em></a></div>
		   			<div><a href="#"><i class="fen02"></i><em>朋友圈</em></a></div>
		   			<div><a href="#"><i class="fen03"></i><em>新浪微博</em></a></div>
		   			<div><a href="#"><i class="fen04"></i><em>QQ好友</em></a></div>
			   </ul>
			   <div class="cancel">取消</div>
			</div>
	   </div>
	</div>	
	
    <script>
		$(function(){
			//分享
			$('#share').click(function(){
				$('.sha').show()
			});
			$('.cancel,.share_bg').click(function(){
				$('.sha').hide()
			});
			
			$('span.del').click(function(){
				$('.video-bg').hide()
			});
			
		})
	 </script>
</body>
</html>