	*{padding:0px; margin:0px auto; font-size:12px;font-family:Arial,'Microsoft Yahei','Hiragino Sans GB',sans-serif; text-decoration:none; list-style:none; }
		input,button,textarea,select,optgroup,option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;font-size: 100%;	border: 0;resize: none;                                                      outline: none;-webkit-appearance: none;white-space: pre-wrap; border:none;}
		*:focus {outline: none;}
		img{width:100%}
		::-webkit-input-placeholder {color:#fff;}
	�� ��:-moz-placeholder {color:#fff;}
	���� ::-moz-placeholder {color:#fff;}
	���� :-ms-input-placeholder {color:#fff;}
		body{background:#601986;-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-select: none;    user-select: none;    -moz-user-focus: none;    -moz-user-select: none;min-width:320px;}
		.activity-list{ padding:98% 15px 30px 15px; overflow:hidden;background:url(../../img/userActivity/happy/bg.jpg) no-repeat; background-size:100%;}
		.activity-list ul li{ border-bottom:1px solid #fff; height:32px; position:relative; padding:10px 0px 0px 0px;color:#fff; }
		.activity-list ul li input.tet{ height:25px; width:100%;color:#fff; background-color:transparent; border:none;font-size:13px; }
		.activity-list ul li input.cale{ cursor:pointer; display:block; position:absolute; color:#333; top:7px; right:0px; height:28px; 
		line-height:28px;background:#ffd200; padding:0px 10px; border-radius:2px;}
		.activity-list input.receive{ cursor:pointer;  margin-top:30px;display:block; width:60%; height:38px; line-height:38px; text-align:center; background:#ffd200;border-radius:15px; font-size:16px; color:#333;}