.new_sj_des{position: relative;top: 70%;}
.new_sj_des .dp_name{background-color: #fb4c03;width: 50%;color: #fff;padding: 0.2rem;text-align: center;letter-spacing: 0.1rem;margin-left: 0.5rem;position: absolute;
bottom: 2.5rem;}
.new_sj_des .dp_des{background-color: rgb(255,255,255,0.8);padding: 1rem;}
.zxrzsj{color: #fb4c03;text-align: center;margin: -1.5rem 0 1rem 0;}
